* {
  box-sizing: border-box;
  margin: 0;
  color: rgb(235, 235, 235);
  text-align: center;
}

body {
  background-color: hsl(0deg, 0%, 5%);
  font-size: 1rem;
  line-height: 1.5;
}

.newsimg__detail {
  margin-block: 90px;
}

.header__title {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.header__back {
  margin-block: auto;
  padding-inline: 16px;
}

.header__img {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
}

.header__container {
  display: flex;
}
.header__container h1 {
  margin-top: -10px;
  font-family: "Times New Roman", Times, serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  margin: auto;
  text-align: center;
  height: 680px;
}

.container {
  margin-inline: auto;
  margin-block: 48px;
  padding-inline: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-bottom: 80px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

.cross {
  font-family: "Pretendard";
  font-size: 36px;
  font-weight: 600;
  color: rgb(245, 245, 245);
}

.title {
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  padding-block: 24px;
  padding-bottom: 30px;
}

.text {
  display: flex;
  font-family: "Pretendard";
  padding-inline: 36px;
  align-items: center;
  margin: auto;
  max-width: 620px;
  justify-content: center;
  text-align: left;
}

.newsimg {
  margin-block: 60px;
  margin-bottom: 60px;
}
.newsimg img {
  width: 1240px;
}